extends ../layout.pug
block content 
  h1 Create new Product 
  form(action="/product/create" method="post"  enctype='multipart/form-data')
    div 
      label(for="name") Name
      input(type="text" name='name')  
    div 
      label(for="price") Price
      input(type="number" name='price') 
    div 
      label(for="quantity") Quantity
      input(type="number" name='quantity')
    div 
      label(for="image") Image
      input(type="file" name='image')  
    div 
      input(type="submit" value='Create')